version: "3.9"

services:

    postgres:
        image: postgres:15
        container_name: postgres
        env_file: .env
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
        ports:
            - "5432:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data
            - ./init.sh:/docker-entrypoint-initdb.d/init.sh
        restart: unless-stopped
    
    redis:
        image: redis:7
        container_name: redis
        ports:
            - "6379:6379"
        restart: unless-stopped
    
    minio:
        image: minio/minio
        container_name: minio
        env_file: .env
        environment:
            MINIO_ROOT_USER: ${MINIO_USER}
            MINIO_ROOT_PASSWORD: ${MINIO_PASSWORD}
        ports:
            - "9000:9000"
            - "9001:9001"
        volumes:
            - minio_data:/data
        command: server /data --console-address ":9001"
        restart: unless-stopped
    
    minio-init:
        image: minio/mc
        depends_on:
            - minio
        entrypoint: ["/bin/sh", "/config/create_buckets.sh"]
        volumes:
            - "./create_bucket.sh:/config/create_buckets.sh"
        environment:
            MINIO_ROOT_USER: ${MINIO_USER}
            MINIO_ROOT_PASSWORD: ${MINIO_PASSWORD}
    
    # backend:
    #     build: .
    #     command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    #     environment:
    #         DATABASE_URL: ${DATABASE_URL}
    #         REDIS_HOST: ${REDIS_HOST}
    #         REDIS_PORT: ${REDIS_PORT}
    #         MINIO_USER: ${MINIO_USER}
    #         MINIO_PASSWORD: ${MINIO_PASSWORD}
    #     depends_on:
    #         - postgres
    #         - redis
    #         - minio
    #     ports:
    #         - "8000:8000"


    alembic:
        build: .
        command: tail -f /dev/null
        env_file: .env
        depends_on:
            - postgres
        volumes:
            - .:/app
    
    arq:
        build: .
        container_name: arq
        command: arq app.workers.arq_worker.WorkerSettings
        depends_on:
            - redis
        volumes:
            - .:/app
        env_file: .env
        restart: unless-stopped
    
    loki:
        image: grafana/loki:2.8.2
        user: "0:0"
        container_name: loki
        command: -config.file=/etc/loki/local-config.yaml
        ports:
            - "3100:3100"
        volumes:
            - ./loki/local-config.yaml:/etc/loki/local-config.yaml:ro
            - loki_data:/loki
            - loki_wal:/wal
        restart: unless-stopped
    
    promtail:
        image: grafana/promtail:2.8.2
        container_name: promtail
        command: -config.file=/etc/promtail/config.yml
        volumes:
            - ./promtail/config.yml:/etc/promtail/config.yml:ro
            - ./promtail/positions:/tmp/positions
            - ./logs:/var/log/myapp:ro
            - ./var/lib/docker/containers:/var/lib/docker/containers:ro
        depends_on:
            - loki
        restart: unless-stopped

    grafana:
        image: grafana/grafana:10.4.3
        container_name: grafana
        ports:
            - "3000:3000"
        environment:
            GF_SECURITY_ADMIN_PASSWORD: ${GRAFANA_PASS}
        volumes: 
            - grafana_data:/var/lib/grafana
        depends_on:
            - loki
        restart: unless-stopped


volumes:
    postgres_data:
    minio_data:
    grafana_data:
    loki_data:
    loki_wal:

